@font-face {
    font-family: 'icomoon';
    src:    url('../fonts/icomoon.eot?d7m2h7');
    src:    url('../fonts/icomoon.eot?d7m2h7#iefix') format('embedded-opentype'),
        url('../fonts/icomoon.ttf?d7m2h7') format('truetype'),
        url('../fonts/icomoon.woff?d7m2h7') format('woff'),
        url('../fonts/icomoon.svg?d7m2h7#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-chevron-up:before {
    content: "\f077";
}
.icon-chevron-down:before {
    content: "\f078";
}
.icon-qq:before {
    content: "\f1d6";
}
.icon-lock:before {
    content: "\e98f";
}

